<mat-dialog-content [formGroup]="form">
    <table>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Titre" formControlName="titre">
                </mat-form-field>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="DateDebut" formControlName="datedebut">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="DateFin" formControlName="datefin">
                </mat-form-field>
            </td>
        </tr> -->
        <tr>
            <td>
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
              <input matStartDate formControlName="datedebut" placeholder="Start date">
              <input matEndDate formControlName="datefin" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </td>
    </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Lieu" formControlName="lieu">
                </mat-form-field>
            </td>
        </tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>